
.App-title {
  font-size: 1.5em;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.filters {
  display: flex;
  justify-content: center;
  padding: 0;
}

.filter-item {
  display: inline-block;
  border: 1px;
  background: grey;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.filter-item.active {
  background: yellow;
}

.life-log span {
  display: inline-block;
  width: 200px;
}
.life-log li {
  list-style-type: none;
}